.dribbbles {
  @include row;
  justify-content: space-between;
  margin-bottom: $x-large-spacing;
}

.dribbble {
  @include omega(2n);
  @include span-columns(6);
  margin-bottom: $base-spacing;
}

.dribbble-link {
  display: block;

  &:hover,
  &:focus {
    opacity: 0.9;
  }
}

.dribbble-img {
  display: block;
}
