.section-title {
  font-size: 2.25em;
  font-weight: 400;
  margin-bottom: 0.25em;
}

.section-description {
  font-size: 1.25em;
  // font-style: italic;
  color: $light-font-color;
  margin-bottom: $large-spacing;
}
