.site-navigation {
  li {
    @include margin(null $base-spacing $large-spacing null);
    display: inline-block;
  }

  a {
    display: inline-block;
    padding-bottom: 0.125em;
  }
}

.home-page .home-link,
.job .jobs-link,
.member .members-link {
  border-bottom: 1px solid $action-color;
}
