.site-footer {
  @include margin($x-large-spacing null);

  p {
    color: $light-font-color;
  }

  a {
    color: $light-font-color;

    &:hover,
    &:focus {
      color: $action-color;
    }
  }
}
