// Vendor
@import "normalize";
@import "bourbon";
@import "neat";
@import "trix";

// Base
@import "base/base";

// Components
@import "flex";

// Components
@import "alert";
@import "appended-link";
@import "bulleted-list";
@import "container";
@import "delete-link";
@import "dribbbles";
@import "empty-states";
@import "flashes";
@import "gravatar-group";
@import "job-slats";
@import "jobs";
@import "longform-field";
@import "meetups";
@import "notation";
@import "outer-wrapper";
@import "page-description";
@import "page-title";
@import "person-cards";
@import "sections";
@import "site-footer";
@import "site-header";
@import "site-navigation";

// Vendor Overrides
@import "vendor-overrides/trix";

.hero {
  @include margin(null (-$large-spacing));
  background-image: url("/images/hero.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: $x-large-spacing;
  padding: ($large-spacing * 3) $large-spacing;

  p {
    line-height: 1.2;
    font-weight: 600;
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 0;
    text-align: center;
    z-index: 1;
  }
}
