<div class="u-flex-row">
  <div class="u-flex-1">
    <h2 class="section-title">Recent Jobs</h2>
    <p class="section-description">
      UX, UI, and visual design jobs local to Raleigh.
    </p>
  </div>
  <%= link(
    "Post a job for free",
    to: job_path(@conn, :new),
    class: "button section-description-action"
    ) %>
</div>

<div class="section-content">
  <%= render Community.JobView, "job_list.html", jobs: @jobs, conn: @conn %>
</div>
