<div class="hero">
  <p>
    A resource for designers in Raleigh to stay connected and find career
    opportunities.
  </p>
</div>

<%= render "recent_jobs.html", jobs: @jobs, conn: @conn %>

<%= render "recent_dribbbles.html", conn: @conn %>

<%= render "recent_meetups.html" %>
